<div class="container">
  <div>  
    @for (component of keysAllComponents; track $index) {
      <div
          class="show-component"
          [class.show-component_active]="this.currentAngularComponent == component"
          (click)="this.changeComponent(component)">
        <p>{{this.valuesAllComponents[$index]}}</p>
      </div>
    }
  </div>

  <div class="component-container">
    @switch(this.currentAngularComponent) {
      <!-- Вкладки -->
      @case (AngularComponent.Tabs) {
        <app-tabs></app-tabs>
      }

      <!-- Кнопка -->
      @case (AngularComponent.Button) {
        <app-button></app-button>
      }

      <!-- Кнопка раздвигающаяся -->
      @case (AngularComponent.ButtonExpand) {
        <app-button-expand></app-button-expand>
      }

      <!-- Календарь -->
      @case (AngularComponent.Calendar) {
        <app-calendar></app-calendar>
      }

      <!-- Чекбокс -->
      @case (AngularComponent.CheckBox) {
        <app-check-box></app-check-box>
      }

      <!-- Комбобокс -->
      @case (AngularComponent.ComboBox) {
        <app-combo-box></app-combo-box>
      }

      <!-- Числовое поле -->
      @case (AngularComponent.DigitInput) {
        <app-digit-input></app-digit-input>
      }

      <!-- Выпадающий список -->
      @case (AngularComponent.DropDownList) {
        <app-drop-down-list></app-drop-down-list>
      }

      <!-- Всплывающая подсказка -->
      @case (AngularComponent.HintBox) {
        <app-hint-box></app-hint-box>
      }
    }
  </div>
</div>