@use "./../../shared/css/base/reset";

.time-input {
  position: relative;
}

.time-input__box {
  box-sizing: border-box;
  font-family: 'Roboto';

  &::placeholder {
    color: #bdbdbd;
    font-weight: 400;
  }

  &_default {
    height: 22px;
    border: none;
    font-weight: 600;
  }

  &_table-cell {
    box-sizing: border-box;
    height: 40px;
    padding: 0 14px;
    border: 2px solid;
    outline: none;
    font-weight: 400;
  }
}