.frame {
  width: 700px;
  height: 700px;
  background-image: url(./../../assets/test-assets/loader/Docker-Symbol.png);
  background-size: 700px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}